* {
	font-size: 14px;
	font-family: Cantarell, Noto Sans, sans-serif;
}

window#waybar {
	/* background: #292b2e;
	color: #fdf6e3; */
	background: #2E3440;
	color: #fdf6e3;
}

#workspaces,
#window,
#clock.1,
#clock.2,
#clock.3,
#clock.4,
#network,
#pulseaudio,
#backlight,
#custom-arch-updates,
#custom-weather,
#memory,
#cpu,
#temperature,
#battery,
#mode,
#tray {
	background: #2E3440;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #2aa198;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #fdf6e3;
}
#backlight {
	color: #b58900;
}
#memory {
	color: #2aa198;
}
#temperature {
	color: #b58900;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}

#workspaces,
#window,
#clock,
#network,
#pulseaudio,
#backlight,
#custom-arch-updates,
#custom-weather,
#memory,
#cpu,
#temperature,
#mode,
#battery {
	padding: 0 6px;
}
